<!-- Vista de prueba al que se llega desde un login exitoso -->
{% load static%}
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<link rel="stylesheet" type="text/css" href="{% static 'login/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'login/welcome.css' %}">
	</head>
	<body>
		<div class="topnav">
            <button type="button" onclick="location.href='/'" class="btn btn-secondary btn-sm">Cerrar sesión</button>
            <button type="button" onclick="location.href='/postSign/'" class="btn btn-secondary btn-sm">Volver</button>
			<a>Has iniciado sesión</a>
			<div class="topnav-right">
				<a href="#">Ayuda</a>
            </div>
		</div>
        <div class="canvas">
            {% for ced,user in data.items %}
            <form action="/editHC/{{ user.cedula }}/" method="post">
                {% csrf_token %}
                <br>
                <h4 class="font-weight-bold" >Información básica</h4>
                <div class="form-row">
                    <div class="form-group col-md-6">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" placeholder="{{ user.nombre }}">
                    </div>
                    <div class="form-group col-md-6">
                    <label for="Edad">Edad</label>
                    <input type="text" class="form-control" name="edad" placeholder="{{ user.edad }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="dirección">Dirección</label>
                    <input type="text" class="form-control" name="direccion" placeholder="{{ user.direccion }}">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="sexo">Sexo</label>
                        <input type="text" class="form-control" name="sexo" placeholder="{{ user.sexo }}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ocupacion">Cédula</label>
                        <input type="text" class="form-control" name="cedula_edit" placeholder="{{ user.cedula }}">
                    </div>
                </div>
                <hr>
                <h4 class="font-weight-bold">Historial médico</h4>
                <label>Motivo de la consulta:</label>
                <textarea rows="5" id="motivInput" class="form-control" name="motivo" placeholder="Texto de ejemplo"></textarea>
                <button type="submit" class="btn btn-primary" value="newHC">Crear</button>
            </form>
            {% endfor %}
        </div>
    </body>
</html>	